/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/


.cell-reorder {
  cursor: move;
    background: url(images/drag-handle.png) no-repeat center center;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row {
  position: absolute;
  background: #ffffff;
  border: 0px;
  line-height: 25px;
}

.slick-row.selected {
  z-index: 10;
  background: #e3f1fa;
}

.slick-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.slick-group {
}

.slick-group-toggle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  line-height: 30px;
  vertical-align: middle;
}

.slick-group-toggle.expanded {
  background: url(images/collapselg.gif) no-repeat center center;
}

.slick-group-toggle.collapsed {
  background: url(images/expandlg.gif) no-repeat center center;
}

.slick-group-totals {
  color: gray;
  background: white;
}

.slick-cell.selected {
  background-color: #ccffcc;
}

.slick-sortable-placeholder {
  background: silver !important;
}

.slick-row.odd {
  background: #ffffff;
}

.slick-row.ui-state-active {
  background: #F5F7D7;
}

.slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.slick-cell.invalid {
  border-color: red;
  
}


#datagrid-ratecards * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-ratecards [class*="column"]:last-child {
  float: none;
}



#datagrid-dayparts-selected * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-dayparts-selected [class*="column"]:last-child {
  float: none;
}


#datagrid-dayparts-selector * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-dayparts-selector [class*="column"]:last-child {
  float: none;
}


#datagrid-dayparts * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-dayparts [class*="column"]:last-child {
  float: none;
}





#datagrid-pricing-cable * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-pricing-cable [class*="column"]:last-child {
  float: none;
}



#datagrid-hot-programming * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-hot-programming [class*="column"]:last-child {
  float: none;
}




#datagrid-pricing-broadcast * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-pricing-broadcast [class*="column"]:last-child {
  float: none;
}




#datagrid-hot-titles * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-hot-titles [class*="column"]:last-child {
  float: none;
}



#datagrid-networks * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-networks [class*="column"]:last-child {
  float: none;
}



#datagrid-viewer * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-viewer [class*="column"]:last-child {
  float: none;
}




#datagrid-breaks * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-breaks [class*="column"]:last-child {
  float: none;
}






#datagrid-custom-breaks * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-custom-breaks [class*="column"]:last-child {
  float: none;
}




#datagrid-changes * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-changes [class*="column"]:last-child {
  float: none;
}


#datagrid-queue * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-queue [class*="column"]:last-child {
  float: none;
}


.slick-header-column {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}


#custom-breakrule-wizard-breakitems-grid * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#custom-breakrule-wizard-breakitems-grid [class*="column"]:last-child {
  float: none;
}
#datagrid-custom-breaks-rulesets * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#datagrid-custom-breaks-rulesets [class*="column"]:last-child {
  float: none;
}
