	a{text-decoration:none;
	  color: #0000FF
	}
	
	.add{
	    background-color:green;
	    border: 1px;
	    color: white;
	    font-family:Arial, sans serif;
	    font-size:8pt;
	    border-radius:4px;
	    -webkit-border-radius:4px;
	    padding:4px;
	    width: 75px;			
	}
	
	body { 
		margin-top: 0;
		margin-left: 0;
		height:100%;
		width:99%;	
		font-size: 12px;
		font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	}
	
	.body { 
		diplay:block;
		margin-left:auto; 
		margin-right:auto;
		width:900px;	
	}
	
	.cellContainer{
		border: solid 0px aqua;
		float:left;
		height: 600px;
		overflow: visible;
		width: 770px;
	}
	 
	
	.cellText{
		font: 8pt Tahoma;
		margin: 0px;
		padding: 5px;
		position: relative;
		overflow: hidden;
		vertical-align: top;					
		width:94%; 
		top: -5px;
	}			
	
	.dpicker{
		height: 25px; 
		float:left;
		font: 7pt Tahoma;
		line-height:25px;				
		overflow: hidden;	
	}
	
	.divImage{
		width:99%;
		height:20%;
		padding-top: 4px;
		text-align:right;
		border-top:none;	
		border-right:none; 
		border-bottom:none;	
		border-left:none;
		position: relative;	
	}
	
	.divHeader{
		background-image: url(../images/topBar.gif);			
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		border: none;
		font: 9pt Tahoma;	
		width:864px;
		height:60px;							
	}					
	
	.floatright {
		width: 10%;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
	
	.headerBar{
		background-Color:#222;
		border: 1px solid #CCCCCC; 
		color:white;				
		font-family:Arial, Verdana, sans-serif;			
		font-size:8pt;		
		font-weight:700;			
		height:25px;
		line-height:25px;
		position: absolute;
		width: 108px;								 				
		text-align:center;
		vertical-align: middle; 
	} 			
	
			
	.headerCell{
		background-Color:#222;
		border: 1px solid #CCCCCC; 
		color:white;
		float:left;
		font-family:Arial, Verdana, sans-serif;			
		font-size:8pt;		
		font-weight:700;			
		height:25px;
		line-height:25px;				
		width:108px; 				
		text-align:center;
		vertical-align: middle; 
	}
	
	.headerStyle{
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		border: none;
		font: 9pt Tahoma;
	}				
	.hiddendiv{
		position: relative;
		float: left;
		visibility: hidden;
		height: 0px;
		width: 0px;
	}
	
	.innerContainer{
		position: relative;
		width: 770px;
		height: auto;				
	}
	
	.insiderDiv{
		width: 90%;
		height: 85%; 
		margin-top:19px;				
		margin-left:7px;
		margin-right:7px;	
		position:absolute;	
		overflow: hidden;				
	}
	
	.inshowcontrols{
		float:left;
		padding: 2px;
	}
	
	.innerparams{
		float:left;
	}
	
	.labels{
		font-size: 9pt;
		font-family: Arial, Verdana, sans-serif;
		font-weight: 700;	
	}			
	
	.pipe{
		color:white;
		font-size: 12pt;
		font-family: Arial, Verdana, sans-serif;
		font-weight: 700;	
		height: 25px;
		line-height: 25px;			
	}	
	
	.lCell{
		border: 1px solid #CCCCCC;
		border-top-left-radius: 8px;					
		float:left;	
		font-family:Arial, Verdana, sans-serif;	
		font-size: 7pt;
		font-weight:700;
		height: 26px;
		line-height: 26px;
		margin: 0px;
		padding: 0px;
		text-align: center;				
		width: 35px;													
	}	
	
	
	.lbCell{
		border: 1px solid #CCCCCC;
		border-bottom-left-radius: 8px;				
		float:left;	
		font-family:Arial, Verdana, sans-serif;	
		font-size: 7pt; 
		font-weight:700;
		height: 26px;
		line-height: 26px;				 
		margin: 0px;
		padding: 0px;
		text-align: center;				
		width: 35px;													
	}			
				
	.mainContainer{
		height:100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;						
	}
			
	.mycheckbox	{
	}
	.params{
	   /*border-top: solid 1px #ddd;*/
		clear:both; 
		font-family:Arial, Verdana, sans-serif;
		font-size:7pt; 
		height: 25px; 
		padding-top: 5px;
		padding-left: 5px;
		padding-left: 5px;
		padding-right: 15px;
	}
				
	.parent{
		border: dotted 0px green;
		clear:both;
		height: auto;
		overflow-x:hidden;
		overflow-y:hidden;
		width: 940px;
	}
	
	.printpdf{
		font-size: 9pt;
		font-family: Arial, Verdana, sans-serif;
		height: 25px;
		line-height: 25px;				
		width: 200px;
	}				
	
	.programCell{
		border: 1px solid #0880DB;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;				
		display: table-cell;		
		font: 7pt Tahoma;
		overflow: hidden;
		position: absolute;
		width: 110px;
	}
	
	.programDesc{
	 visibility: hidden;
	}
	
	
	
	.proposalListing{
		font-size: 9pt;
		font-family: Arial, Verdana, sans-serif;
		height: 25px;
		line-height: 25px;
		width: 125px;				
	}
	
	.proposalmanager{
		height: 30px;
		position: relative;
		padding-left: 5px;
		padding-top: 5px;
		padding-right: 15px;
	}
	
	.pslinputs{
		font-family: Arial;
		font-size: 8pt;
		width: 150px;
	}
	
	.pslinputs select{
		font-family: Arial;
		font-size: 8pt;
		width: 200px;
	}			
	
	.rCell{
		border: 1px solid #CCCCCC;
		border-top-right-radius:8px;
		float:left;				
		font-family:Arial, Verdana, sans-serif;	
		font-size: 7pt; 
		font-weight:700;
		height: 26px;
		margin: 0px;
		padding: 0px;
		text-align: center;					
		width: 37px;
	}	
	
	.rbCell{
		border: 1px solid #CCCCCC;	
		border-bottom-right-radius: 8px;
		float:left;				
		font-family:Arial, Verdana, sans-serif;	
		font-size: 7pt; 
		font-weight:700;
		height: 26px; 
		margin: 0px;
		padding: 0px;
		text-align: center;			
		width: 37px;													
	}			
		
	.remove{
		border: 1px;
	background-color:red;
	color: white;            
	font-family:Arial, sans serif;
	font-size:8pt;
	font-weight:500;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:4px;			
	}	
				
	.ss{
		font-size: 		10pt;
		font-family: 	Arial, sans serif;
		font-weight: 	700;
		color: 			#777;
		font-style: 	italic;
	}
	
	.selectors{
		font-family: 	Arial, sans-serif;
		font-size: 		8pt;
	}				
	
	.selectors input{
		width: 			65px;
	}				
	
	.selectAllBox{
		height: 			15px;
		width: 			15px;
	}
							
	
	.showcontrols{
	   /*border-top: solid 1px #ddd;*/
		clear: both;
		height: 25px;
		line-height: 25px;
	}	
	
				
	.timeCell{
		background-Color: #eeeeee;
		border: 1px solid #CCCCCC;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;					
		
		font-size: 8pt;
		font-family: Arial, Verdana, sans-serif;
		font-weight:700;
		height: 44px; 
		line-height:44px;				
		margin: 0px;
		overflow: hidden;	
		padding: 0px;				
		text-align: center;
		width: 38px;
	}	
	
	.timeRuler{
	  float:left;
	  width: 38px;
	}				
	
	.timeList{
		font: 8pt Tahoma;
		height: 19px;
		width:62px;
	}
	
	.top{
		/*background-color: #32639A;*/
		background-color: #E3F1FA;
		height:auto;
		width:99%;
	}	
	
	.update{
	    background-color:#F75B22;
	    border: 1px;
	    color: white;
	    font-family:Arial, sans serif;
	    font-size:8pt;
	    border-radius:4px;
	    padding:4px;
	    width: auto;
	}						
	
	.ui-calendars{
		font-size: 8pt;
	   font-family:Arial, sans serif;
		width: 65px;			
	
	}
	
	.viewDescription{
		background: url(../images/postit.gif) no-repeat;
		background-size: 100%;				
		font: 8pt Arial, sans serif;
		overflow: visible;
		position: absolute;
		width: 150px;
		height: 160px;
		vertical-align: middle;				
		margin-left:7px;
		margin-right:7px;					
		left:7px;
	}				
	
	.weekTab{
		background:url(../images/wk.gif) no-repeat;
		background-image: url(../images/wk.gif) no-repeat;	
		background-size: 100% auto;	
		color:white;
		cursor: pointer;			
		float:left;				
		font-size: 8pt;
		font-family:"Trebuchet MS","Helvetica","Arial","Verdana","sans-serif";			
		font-weight:700;
		height:25px; 
		line-height:25px;				
		text-align:center;  	
		width:50px; 				
	}
	
	.wkNavigator{
		diplay:block;
		margin-left:auto; 
		margin-right:auto;
		width:900px;
		height: 25px;
	}			
				
				
				
	.closepopupdiv{
		border: solid 1px #666;
		border-radius: 4px;
		position:absolute;
		background-Color:#ff0000;
		height:15px;;
		line-height:15px;
		width:20px;
		text-align:center;
		right:2px;
		top:1px;
		cursor: pointer;
	}
	 
	.closepopup{
        color:#fff;
        font-family: Arial, Verdana, Tahoma;
        font-weight:700;
	}
	           
	.insiderDiv #islive{
        color:#5801AF;
        font-weight:700;
        font-style:italic;
	}
	.insiderDiv #ptitle{
        font-weight:700;
	}
	.insiderDiv #epititle{
        color:#000;
        font-style:italic;
	}
	.insiderDiv #genre{
        color:#0000ff;
        font-style:italic;
	}
	 
	.insiderDiv #premiere{
        color:#ff0000;
        font-style:italic;
	}
	 
	.insiderDiv #orgairdate{
        color:#0000ff;
	}
	
	.waiting-msg{
		background-color: #ec6009;
		color: white;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 3px;
		padding-bottom: 3px;
		border: solid 1px #fff;
		text-align: center;
		height: 20px !important;
		line-height: 20px !important;
		width: 75px !important;
	}
						