body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	overflow: hidden;
	min-width: 1000px;
}


#footer{
	background-color: #f1f1f1;
	right: 0;
	left: 0;
	bottom: 0;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	color: #000000;
	text-align: right;
	z-index: 1000000;
	position: absolute;
	padding-right: 10px;
}


*:focus {
	outline:0px !important;
	/*-webkit-appearance:none;*/
}


#proposal-manager-label{
	background-color: #FF8719;
	color: white;
	padding: 4px;
	font-weight: bold;
}


.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  {
	background-position: right 5px center;
}
.clearable.onX{
	cursor: pointer;
}



.medlink{
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}


.hander:hover{
	cursor: hand; 
	cursor: pointer;
}

.smallwait{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}



#btn-discount-apply .ui-button-text{
	padding: 2px!important;
}


#wrapper-discount-agency, #wrapper-discount-package{
	/*float:right;*/
	background-color:#ECF3DF;
	/*padding: 5px;*/
	padding: 4px;	
	margin-left: 5px;
}





.dma-select{
	background-color: #EEEEEE!important;
}

.dma-select-title{
	font-weight: bold;
}



.ratematch{
	color: red!important;
}


.ui-dialog-titlebar-close{
	background-color: #d91c1c!important;
	color: white !important;
}



.pepper .ui-dialog-content {background:#FFF5E0 !important}​

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none!important;
}


#message-message{
	font-size: 14px;
}


#message-count{
	background-color: red;
	color: white;
	padding: 2px;
	display: none;
}

.actorwrapper{
	float: left;
	border: 5px solid #e6e6e6;
	margin-right: 5px;
}


.actorname{
	padding: 3px;
	background-color: black;
	color: white;
	font-size: 13px;
	text-align: center;;
}

#topbar{
	background-color: #184a74!important;
}
/* Sidebar 2.0  */
#sidebar-type-header{
	width: 283px;
	background-color: #184a74 !important;	
	float: left;
}

.fontbig{
	font-size: 13px;
}

.side-wrapper{
	border: 5px solid #e6e6e6;
}


#more-image{
	width: 280px;
	height: 370px;
	padding: 5px;
	border: 5px solid #e6e6e6;
	line-height: 380px;
	text-align: center;
}


.menu-selected{
	background-color: #f2f5f7!important;
	height: 33px;
}

.menu-selected a{
	color: #000000!important;
}


.ui-dialog .ui-dialog-buttonpane { 
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}

.ui-widget {
	font-family: Trebuchet MS,Tahoma, Verdana,Arial, sans-serif; 
	font-size: 11px;
}

#dialogs{
	position: absolute;
	left: -800px;
	top: -5000px;
}

.flightdatesweek{
	color: blue;
	font-weight: bold;
}


#proposal-header-box{
	text-align: center;
	font-size: 13px;
}


.dlproposal{
	padding: 8px;
	background-color: #c7a5d5;
}

.dlmid{
	padding: 8px;
	background-color: #93d0a7;
}


.dlright{
	padding: 8px;
	background-color: #dcdcdc;
}



.hiddenweek{
	background-image: none!important;
	background-color: #999999!important;

}


.mrow{
	padding: 5px;
}


.flightwrapper{
	padding: 2px;
	float: left;
	width: 120px;
	background-color: #e1f0fa;
	margin: 2px;
	border: 1px solid #aed0ea;
}

.flightdatebroadcastweeks{
	color: green;
	font-weight: bold;
}

.clearboth{
	clear: both;
}

.flightdates{
	padding: 2px;
	float: left;
	width: 120px;
}

#flights{
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	
}

#data-writer{
	background: green;
	color: white;
	position: absolute;
	z-index: 5000;
	top: 0;
	right: 0;
	padding: 5px;
}


/* Layout */
#container{
	position: absolute;
	top: 32px;
	left: 297px;
	right: 0;
	bottom: 0;
	min-width: 700px;
	background-color: #f2f5f7;
}

.textzone{
	padding-bottom: 5px;
	padding-top: 3px;
}

.container-content{
	padding: 10px;
}

.rounded-corners {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.mselected{
	background-color: #006600!important;
}


/* Sidebar 2.0  */
#sidebar2{
	background-color: #f1f1f1;
	width: 295px;
	position: absolute;
	top: 32px;
	left: 0;
	bottom: 0;
	right: 0;
	font-weight: bold;
	border-right:1px solid #E0DFDF;
}

#sidebar2 .label{
	display:inline-block;
	width: 90px;
	text-align: right;
	color: #5F5E68;
}

#sidebar2 .row{
	background-color: #f1f1f1;
	border-bottom: 1px solid #ebe7e4;
	height: 35px;
	line-height: 35px;
}

.input-half{
	width: 74px;
	border: 1px solid #aed0ec;
	padding: 4px;
}


.input-wrapper{
	border: 1px solid #aed0ec;
	padding: 3px;
}

/* row formatters */
.rows{
	font-weight: bold;
}

.rows .row{
	height: 35px;
	line-height: 35px;
}

.rows .label{
	display:inline-block;
	width: 90px;
	text-align: right;
	float: left;
	padding-right: 5px;
}

.rows .input-half{
	width: 75px;
	border: 1px solid #aed0ec;
	padding: 3px;
}







.group .label{
	display:inline-block;
	width: 50px;
	text-align: right;
}



.group .row{
	background-color: #f1f1f1;
	border-bottom: 1px solid #ebe7e4;
	height: 35px;
	line-height: 35px;
}


#group-textarea{
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
}


/* Headers */
.header{
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	text-shadow: 1px 1px 1px #000;
	padding: 6px;
	height: 20px;
	line-height: 20px;
	
}


.headers{
	padding: 4px;
	font-weight: bold;
	color: white;
	font-family: Arial;
	font-size: 12px;
	overflow: hidden;
	line-height: 30px;
	vertical-align: middle;
}


.nowrapall{
	white-space: nowrap;
}

.results{
	background-color: #909090;
}
.resultswrapper{
	border: 1px solid #909090;
}



.download{
	background-color: #e3f1fa;
}
.downloadwrapper{
	border: 1px solid #aed0ea;
	background-color: #f2f5f7;
}

.email{
	background-color: #ffc587;
}
.emailwrapper{
	border: 1px solid #aed0ea;
}



.headers-small{
	padding: 4px;
	font-weight: bold;
	color: white;
	font-family: Arial;
	font-size: 12px;
	overflow: hidden;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	color: #3679aa;
	border-bottom: 1px solid #aed0ea;
}



.selector-duplicate{
	width: 180px;
	height: 200px;
}



.total{
	background-color: #ffe690;
	color: black;
}

#totals-wrapper{
	min-width: 1000px;
}

.totalwrapper{
	border: 1px solid #ffe690;
	color: black;
}



#rcbuttonlbl .ui-button-text{
	padding: 3px!important;;
}




/* Colors  ui-button-text*/
.blue{
	background-color: #32639a;
	color: white;
}

.teal{
	background-color: #025b66;
	color: white;
}


.dgrey{
	background-color: #333;
	color: white;
}


.orange{
	background-color: #32639a;
	color: white;
}

/* e58446*/

#emailform label{
	float: left;
	width: 100px;
}





/* Forms */
.selector{
	width: 137px;
	border: 1px solid #aed0ec;
	padding: 3px;
}

.selectorw{
	width: 176px;
	border: 1px solid #aed0ec;
	padding: 3px;
}

.dialog-selector{
	width: 230px;
}

.forms{
	border: 1px solid #aed0ec;
	padding: 3px;
	height: 18px;
}

.input-full{
	width: 220px;
	border: 1px solid #aed0ec;
	padding: 3px;
}

.input-q{
	width: 150px;
	border: 1px solid #aed0ec;
	padding: 3px;
}



.bottom-padding{
	margin-bottom: 5px;
}





/* Grids */
.gridwrapper{
	background-color: #ffffff;
	padding: 0;
	border: 5px solid #deedf8;
}

.smgrid{
	font-size: 11px;
	color: #32639a;
}

.editor-text{
	border: 0;
	width: 30px;
}

#textEditorLong{
	backround:white;
	width:250px;
	height:80px;
	border:0;
	outline:0;
	font-size: 12px;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.ratecard{
	font-weight: bold;;
	color: green;
}


.hotrate .ratecard{
	font-weight: bold!important;
	color: red!important;
}


.hotrate{
	font-weight: bold!important;
	color: red!important;
}




.daysWrapper{
	background-color: #32639a;
	padding: 3px;
	font-weight: bold;
	color: white;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.availsmode{
	padding: 2px;
	background-color: #990000;
	color: white;
	text-shadow: 0px 0px 0px #000;
}





/* Metadata Colors */
.fixed{
	background-color: #ffc4c4!important;
}

.line-bg{
	background-color: #efefef!important;
}


.error-bg{
	background-color: red!important;
}

.maingroup{
	background-color: #e8e7ff!important;
}

.dirty{
	background-color: #c3dfff!important;
}

.fixed-allow{
	background-color: #fff!important;
	padding-left: 3px;
}





/* Custom dialog themes 
ui-dialog ui-widget ui-widget-content ui-corner-all pepper ui-draggable
*/
.pepper .ui-dialog-content{
	background-color: #EBEFF3;
}

.pepper .ui-dialog-titlebar{
	background-image: none;
	background-color: #ffc871!important;
}

/*
.pepper{
	border: 10px solid #808080;
}
*/






.proposalmanager{
	background-color: #702e71;
	color: #fff;
	border-bottom: 1px solid #9EC4E6;
	font-weight: normal;
}
.proposal{
	background-color:#702e71;
}

/*.proposalmanager{
	background-color: #3B0E3C;
	color: #fff;
	border-bottom: 1px solid #9EC4E6;
	font-weight: normal;
}

.proposal{
	background-color: #4C1A4C;
}*/

.proposalwrapper{
	border: 1px solid #3D003D;
}

.proposalmanagerwrapper{
	border: 1px solid #3B0E3C;
}



/* Panels */
.mpanel{
	background-color: #EFF2F5;
	margin-right: 10px;
	border: 1px solid #E0DFDF
}

.mpanel .mheader{
	background-color: #EFF2F5;
	padding: 6px;
	font-weight: normal;
	color: #4C4B55;
	font-family: Arial;
	font-size: 12px;
}

.mbody{
	padding: 6px;
}




.discountbox{
	padding: 5px;
	height: 139px;
	background-color: #ffe690;
}


.leftpanel{
	width: 250px;
	float: left;
	margin-right: 10px;
}









/* show information */
#info-panel-wrapper{
	padding: 8px;
}


#showinfo-rows div{
	padding: 3px;
}


#showinfo-title{
	font-weight: bold;
	font-size: 14px;
	color: #262626;
}

#showinfo-info{
	line-height: 20px;
}


.showinfo-genre-block{
	background-color: black;
	color: white;
	padding: 5px;
	margin-right: 5px;
	text-transform: capitalize!important;
}


.showinfo-premiere-block{
	background-color: #990000;
	color: white;
	padding: 4px;
	margin-right: 5px;
	text-transform: capitalize!important;
}

.showinfo-new-block{
	background-color: #106502;
	color: white;
	padding: 4px;
	margin-right: 5px;
	text-transform: capitalize!important;
	height: 20px;
}


.showinfo-live-block{
	background-color: #7704b3;
	color: white;
	padding: 4px;
	margin-right: 5px;
	text-transform: capitalize!important;
	height: 20px;
}


.showinfo-delay-block{
	background-color: blue;
	color: white;
	padding: 4px;
	margin-right: 5px;
	text-transform: capitalize!important;
	height: 20px;
}



#showinfo-desc{
	line-height: 16px;
	font-weight: normal;;
}



#showinfo-epititle{
	color: #32639a;
	font-size: 12px;
	font-weight: normal;
	line-height:15px;
}


#showinfo-image{
	width: 120px;
	height: 180px;
	padding: 2px;
	border: 1px solid gray;
	margin-top: 5px;
	margin-bottom: 5px;
}


.info-panel{
	float: left;
	height: 50px;
	width: 350px;
	padding: 2px;
	line-height: 15px;
	color: white;
}

.info-panel div{
	padding: 1px;
}




.midtext{
	font-size: 12px;
}


.noratecards{
	opacity:0.3;
}



.fadelink{
	opacity:0.9;
	border: 1px solid gray!important;
}

.fadelink:hover{
	opacity:1;
	border: 1px solid black!important;
}



/* Custom Button Colors */
.btn-green-light{
	/*border: 1px solid #CABDAC!important;
	background-color: #E5D9C9!important;*/
	border: 1px solid #dad8d5!important;	
	background-color: #DDDDDD!important;	
	background-image: none!important;
	/*color: #000000!important;*/
	color: #AAAAAA!important;
	opacity:0.9;
}



.btn-green-light:hover{
	opacity:0.9;
	cursor:default;
}





.btn-green-search{
	border: 1px solid #006600!important;
	background-color: #078900!important;
	background-image: none!important;
	color: #f5f5f5!important;
	
}


.btn-green-search:hover{
	border: 1px solid #078900!important;
	background-color: #006600!important;
	background-image: none!important;
	color: #f5f5f5!important;
}


.fnt{

	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	margin-left: 10px;
	font-size: 15px;
}




.btn-grey{
	border: 1px solid #000!important;
	background-color: #999999!important;
	background-image: none!important;
	color: #f5f5f5!important;
	padding: 5px;
}





.btn-green{
	border: 1px solid #035700!important;
	background-color: #0C7500!important;
	background-image: none!important;
	color: #f5f5f5!important;
}


.btn-green:hover{
	border: 1px solid #078900!important;
	background-color: #006600!important;
	background-image: none!important;
	color: #f5f5f5!important;
}


.btn-green-2{
	border: 1px solid #035172!important;
	background-color: #06658d!important;
	background-image: none!important;
	color: #f5f5f5!important;
}


.btn-green:hover-2{
	border: 1px solid #06658d!important;
	background-color: #035172!important;
	background-image: none!important;
	color: #f5f5f5!important;
}


.btn-green-full{
	border: 1px solid #078900!important;
	background-color: #078900!important;
	background-image: none!important;
	color: #f5f5f5!important;
	padding: 5px!important;
}

.btn-red{
	border: 1px solid #cc252e!important;
	background-color: #cc252e!important;
	background-image: none!important;
	color: #f5f5f5!important;
}

.btn-red:hover{
	border: 1px solid #cc252e!important;
	background-color: #990000!important;
	background-image: none!important;
	color: #f5f5f5!important;
}

.btn-red2{
	border: 1px solid #cc252e!important;
	background-color: #a43404!important;
	background-image: none!important;
	color: #f5f5f5!important;
}

.btn-red2:hover{
	border: 1px solid #a43404!important;
	background-color: #cc252e!important;
	background-image: none!important;
	color: #f5f5f5!important;
}




.btn-red-group{
	border: 1px solid #044398!important;
	background-color: #cc252e!important;
	background-image: none!important;
	color: #f5f5f5!important;
}











.btn-blue{
	border: 1px solid #044398!important;
	background-color: #06658d!important;
	background-image: none!important;
	color: #f5f5f5!important;
}

.btn-blue:hover{
	border: 1px solid #06658d!important;
	background-color: #0d4861!important;
	background-image: none!important;
	color: #f5f5f5!important;
}






#btn-build-calendar{
	border: 1px solid #000066!important;
	background-color: #06658d!important;
	background-image: none!important;
	color: #f5f5f5!important;
}



.btn-teal{
	border: 1px solid #025b66!important;
	background-color: #017c8b!important;
	background-image: none!important;
	color: #f5f5f5!important;
}

.btn-teal:hover{
	border: 1px solid #017c8b!important;
	background-color: #025b66!important;
	background-image: none!important;
	color: #f5f5f5!important;
}



.btn-yellow{
	border: 1px solid #ffd800!important;
	background-color: #f4cf00!important;
	background-image: none!important;
	color: #f5f5f5!important;
	color: black!important;
}

.btn-yellow:hover{
	border: 1px solid #f4cf00!important;
	background-color: #ffd800!important;
	background-image: none!important;
	color: #f5f5f5!important;
	color: black!important;
}






.hotstyle{
	background-color: red!important;
	color: white;
	padding: 3px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}



.updatedpackage{
	/*color:#078900;*/
	color: #4EF545;
	font-size:smaller;
	height:20px!important;
	line-height:20px;
	font-weight:  500 !important;
}


.dma-select{
	background-color: #DDDDDD!important;
	color:#333!important;
}


.columnOff{
	background-color: #00FF00!important;
	color:#333!important;	
}



